body {
    background-color:#282a36;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f1fa8c;
}

main {
background-color: #44475a;
max-width: 500px;
padding: 10px 40px;
border-radius: 10px;
}

pre {
/* overflow: auto; */
white-space: pre-wrap;
word-wrap: break-word;
background-color: #6272a4;
padding: 20px;
width: 300px;
border-radius: 15px;
color: white;
}

button {
margin-left: 10px;
padding: 10px;
border-radius: 5px;
border: none;
background-color: #ff79c6;
font-weight: bold;
cursor: pointer;
}

button:hover {
background: rgb(124, 173, 51);
}

input {
padding: 10px;
border-radius: 5px;
border: none;
}
  